* {
  font-family: 'Yantramanav', sans-serif !important; }

/*nosotres*/
* {
  font-family: 'Yantramanav', sans-serif !important; }

h2 {
  color: tomato;
  font-weight: bold; }

span {
  color: tomato; }

.foto {
  transition-delay: 2s; }

.contFoto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.nuestra {
  color: whitesmoke; }

.foto {
  width: 15vw;
  border-radius: 100%;
  margin: 3vw; }

.parrafoN {
  -webkit-user-modify: read-write-plaintext-only;
  font-size: 3vh; }

p {
  color: whitesmoke;
  font-size: 2.5vh; }

/*efecto sobre el texto*/
.nosotres__fotos__animadas {
  position: relative; }

.foto {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden; }

.recuadro {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.nosotres__fotos__animadas:hover .foto {
  opacity: 0.3; }

.nosotres__fotos__animadas:hover .recuadro {
  opacity: 1; }

.texto {
  background-color: #00172a;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 10%; }

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto; }

h5 {
  color: #ff6347; }

body {
  background-color: #00172a; }

.badge {
  background-color: red !important;
  font-weight: normal; }

* {
  font-family: 'Yantramanav', sans-serif !important; }

#logoPrincipal {
  height: 30px;
  width: 30px;
  margin-left: 20px; }

#nuevoLogo {
  width: 90vw; }

hr {
  background: #00002b;
  background: linear-gradient(40deg, #00002b 0%, tomato 71%, #fcb045 100%);
  height: 1vh !important;
  opacity: 1; }

.fondoAzul {
  background-color: #00172a; }

.nav {
  width: auto; }

.nav-link {
  color: whitesmoke !important;
  margin: 1vw;
  border-radius: 10px; }

.nav-link:hover {
  color: tomato !important;
  background-color: whitesmoke;
  border-radius: 10px; }

.navbar-toggler {
  background-color: whitesmoke; }

.hero {
  place-content: center; }

.text-center {
  align-self: center; }

footer {
  background-color: black; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.bi {
  color: whitesmoke; }

.bi-facebook:hover {
  border-radius: 100%;
  color: #3b5998;
  background-color: #00172a; }

.bi-instagram:hover {
  border-radius: 10%;
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }

.bi-twitter:hover {
  color: #1da1f2;
  border-radius: 30px;
  background-color: #00172a; }

/*contacto*/
label {
  color: whitesmoke;
  font-weight: bold; }

#drcontacto {
  width: 100vh; }

.btn-primary {
  background-color: #00162f;
  border-color: tomato; }
  .btn-primary:hover {
    background-color: tomato;
    border: transparent; }

/*articulos*/
h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold; }

img {
  width: inherit; }

/*animacion parrafos*/
.artic__cuadro {
  position: relative;
  width: calc(100%-30px); }

.artic__cuadro__img {
  display: block;
  width: 100%;
  height: auto; }

.artic__texto {
  position: absolute;
  bottom: 0;
  background-color: black;
  overflow: hidden;
  width: 95.7%;
  height: 0;
  transition: .5s ease; }

.artic__cuadro:hover .artic__texto {
  height: 100%; }

.artic__parrafo {
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 2vw; }

/*rock/a/tlon*/
.rockA a, .rockB a {
  border-radius: 10px !important;
  margin: 1vh;
  padding: 1vh;
  text-align: center; }

.rockB {
  justify-items: center; }

.list-group-item-action {
  width: fit-content; }

.rock1, .rock2 {
  text-align: -webkit-center; }

@media only screen and (min-width: 1200px) {
  .artic {
    flex-wrap: nowrap; } }

@media only screen and (max-width: 992px) {
  .fotosNuestras {
    display: flex;
    justify-content: center; }
  .foto {
    place-self: center; }
  h4 {
    font-size: 1em; }
  .contenedorA, .contenedorB, .contenedorC, .contenedorD {
    width: 40vw; }
  #drcontacto {
    width: 90vh; } }

@media only screen and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .redes {
    margin-top: 5px;
    justify-content: space-evenly; }
  .spoti {
    display: flex;
    flex-direction: column; }
  #drcontacto {
    width: inherit; }
  iframe {
    width: 100%; }
  .nosotres__foto {
    text-align: center; }
  .articulo__parrafo {
    font-size: 1vh; } }
