* {
  font-family: 'Yantramanav', sans-serif !important;
}

/*nosotres*/
* {
  font-family: 'Yantramanav', sans-serif !important;
}

h2 {
  color: tomato;
  font-weight: bold;
}

span {
  color: tomato;
}

h4 {
  color: whitesmoke;
  font-weight: bold;
}

.contFoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nuestra {
  color: whitesmoke;
}

.foto {
  width: 15vw;
  border-radius: 100%;
  margin: 3vw;
}

.parrafoN {
  -webkit-user-modify: read-write-plaintext-only;
  font-size: 3vh;
}

p {
  color: whitesmoke;
  font-size: 2.5vh;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

.badge {
  background-color: red !important;
  font-weight: normal;
}

* {
  font-family: 'Yantramanav', sans-serif !important;
}

#logoPrincipal {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

#nuevoLogo {
  width: 90vw;
}

hr {
  background: #00002b;
  background: linear-gradient(40deg, #00002b 0%, tomato 71%, #fcb045 100%);
  height: 1vh !important;
  opacity: 1;
}

.fondoAzul {
  background-color: #00172a;
}

.nav {
  width: auto;
}

.nav-link {
  color: whitesmoke !important;
  margin: 1vw;
  border-radius: 10px;
}

.nav-link:hover {
  color: tomato !important;
  background-color: whitesmoke;
  border-radius: 10px;
}

.navbar-toggler {
  background-color: whitesmoke;
}

.hero {
  place-content: center;
}

.text-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  background-color: black;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bi {
  color: whitesmoke;
}

.bi-facebook:hover {
  border-radius: 100%;
  color: #3b5998;
  background-color: #00172a;
}

.bi-instagram:hover {
  border-radius: 10%;
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.bi-twitter:hover {
  color: #1da1f2;
  border-radius: 30px;
  background-color: #00172a;
}

/*contacto*/
label {
  color: whitesmoke;
  font-weight: bold;
}

#drcontacto {
  width: 100vh;
}

.btn-primary {
  background-color: #00162f;
  border-color: tomato;
}

.btn-primary:hover {
  background-color: tomato;
  border: transparent;
}

/*articulos*/
h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

img {
  width: inherit;
}

.articulo__parrafo {
  background-color: #00172f;
}

.imgA {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgA:before, .imgA::after {
  content: "";
  position: absolute;
  width: calc(100%/30px);
  z-index: 1;
}

.imgA:before {
  left: -100%;
  top: 10px;
}

.imgA:after {
  left: 100%;
  bottom: 10px;
}

.imgA:hover:before, .imgA:hover:after {
  left: 15px;
}

.imgA .contenedorA {
  text-align: center;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.imgA:hover .contenedorA {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.imgB {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgB:before, .imgB::after {
  content: "";
  position: absolute;
  width: calc(100%/30px);
  z-index: 1;
}

.imgB:before {
  left: -100%;
  top: 10px;
}

.imgB:after {
  left: 100%;
  bottom: 10px;
}

.imgB:hover:before, .imgB:hover:after {
  left: 15px;
}

.imgB .contenedorB {
  text-align: center;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.imgB:hover .contenedorB {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.imgC {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgC:before, .imgC::after {
  content: "";
  position: absolute;
  width: calc(100%/30px);
  z-index: 1;
}

.imgC:before {
  left: -100%;
  top: 10px;
}

.imgC:after {
  left: 100%;
  bottom: 10px;
}

.imgC:hover:before, .imgC:hover:after {
  left: 15px;
}

.imgC .contenedorC {
  text-align: center;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.imgC:hover .contenedorC {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.imgD {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgD:before, .imgD::after {
  content: "";
  position: absolute;
  width: calc(100%/30px);
  z-index: 1;
}

.imgD:before {
  left: -100%;
  top: 10px;
}

.imgD:after {
  left: 100%;
  bottom: 10px;
}

.imgD:hover:before, .imgD:hover:after {
  left: 15px;
}

.imgD .contenedorD {
  text-align: center;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.imgD:hover .contenedorD {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.txt1, .txt2, .txt3, .txt4 {
  text-align: center;
  top: -4vh;
}

/*rock/a/tlon*/
.rockA a, .rockB a {
  border-radius: 10px !important;
  margin: 1vh;
  padding: 1vh;
  text-align: center;
}

.rockB {
  justify-items: center;
}

.list-group-item-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.rock1, .rock2 {
  text-align: -webkit-center;
}

@media only screen and (min-width: 1200px) {
  .artic {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 992px) {
  .fotosNuestras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foto {
    place-self: center;
  }
  h4 {
    font-size: 1em;
  }
  .contenedorA, .contenedorB, .contenedorC, .contenedorD {
    width: 40vw;
  }
  #drcontacto {
    width: 90vh;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .redes {
    margin-top: 5px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .spoti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #drcontacto {
    width: inherit;
  }
  iframe {
    width: 100%;
  }
  .nosotres__foto {
    text-align: center;
  }
  .articulo__parrafo {
    font-size: 1vh;
  }
}
