@import "../scss/partials/variables.scss";
@import "../scss/partials/nosotres.scss";
@import "./partials/index.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/contacto.scss";
@import "./partials/articulos.scss";
@import "./partials/rock-a-tlon.scss";


@media only screen and (min-width: 1200px){
    .artic {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 992px) {
    /*  */
    /* nosotres */
    .fotosNuestras {
        display: flex;
        justify-content: center;
    }
    .foto {
        place-self: center;
    }
    h4 {
        font-size: 1em;
    }
    h2, .parrafoN {
        padding: 5px;
    }
    .container__nosotres__img {
        display: none;
    }
    .texto {
        padding: 8px;
    }
    /*  contacto  */
    #drcontacto {
        width: 90vh;
    }
    .correo {
        width: 70%;
    }
       /* articulos */

    .artic__cuadro__parrafo {
        font-size: 4vw;
    }
    .artic__cuadro__texto {
        width: 96.7%;
    }
        /* r-a-t */
    .rock1, .rock2 {
        width: 100%;
    }
    .rockA, .rockB {
        width: 80%;
    }
    .disco__container {
        display: none;
        }
        .rock__parrafo {
            background-color: unset;
        }
    .lista__reproduccion {
        text-align: center;
    }
    iframe {
        width: 80%;
    }
    /*barra de navegacion*/
    .navbar-nav {
        display: flex;
         flex-direction: column;
        align-items: center;
    }
}


@media only screen and (max-width: 600px) {
        /*index*/
        .logo__principal {
            width: 100vw;
        }
        .navbar-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .blog {
            display: none;
        }
      
        /* Nosotres */
       .nosotres__foto {
           text-align: center;
           flex-direction: column;
       }
       .foto {
           width: 40vw;
       }
       .texto {
           font-size: 14px;
        } 
        .parrafoN {
            font-size: 4vw;
        }
        
       .recuadro {
            top: 55%;
           }  
        
        /* Articulos */
        .artic {
            justify-content: center;
        }
        .artic__cuadro__parrafo {
        font-size: 5.5vw;
        }
        .artic__cuadro__texto{
        width: 94%;
        }

           /* rock-a-tlon */        
        iframe {width: 100%;}
  
       .disco__container {
        display: none;
        }
        .rock__parrafo {
            background-color: unset;
        }
        
        /*contacto*/
        .correo {
            width: 100%;
        }

        /*footer*/
        .redes {
            margin-top: 5px;
            justify-content: space-evenly;
        }
}
