* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

/*nosotres*/
* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

span {
  color: tomato;
}

.foto {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.contFoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nuestra {
  color: whitesmoke;
}

.foto {
  width: 15vw;
  border-radius: 100%;
  margin: 3vw;
}

.parrafoN {
  -webkit-user-modify: read-write-plaintext-only;
  font-size: 1.7vw;
}

p {
  color: whitesmoke;
  font-size: 2.83333vw;
}

/*efecto sobre el texto*/
.nosotres__fotos__animadas {
  position: relative;
}

.foto {
  opacity: 1;
  display: block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.recuadro {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.nosotres__fotos__animadas:hover .foto {
  opacity: 0.3;
}

.nosotres__fotos__animadas:hover .recuadro {
  opacity: 1;
}

.texto {
  background-color: #00172a;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 10%;
}

.container__nosotres {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container__nosotres__img {
  width: 100%;
  opacity: 0.8;
}

* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

.badge {
  background-color: red !important;
  font-weight: normal;
}

.logo__principal {
  width: 50vw;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 70%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

#logoPrincipal {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

#nuevoLogo {
  width: 90vw;
}

hr {
  background: #00002b;
  background: linear-gradient(40deg, #00002b 0%, tomato 71%, #fcb045 100%);
  height: 1vh !important;
  opacity: 1;
}

.fondoAzul {
  background-color: #00172a;
}

.nav {
  width: auto;
}

.nav-link {
  color: whitesmoke !important;
  margin: 1vw;
  border-radius: 10px;
}

.nav-link:hover {
  color: tomato !important;
  background-color: whitesmoke;
  border-radius: 10px;
}

.navbar-toggler {
  background-color: whitesmoke;
}

.hero {
  place-content: center;
}

.text-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  background-color: black;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bi {
  color: whitesmoke;
}

.bi-facebook:hover {
  border-radius: 100%;
  color: #3b5998;
  background-color: #00172a;
}

.bi-instagram:hover {
  border-radius: 10%;
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.bi-twitter:hover {
  color: #1da1f2;
  border-radius: 30px;
  background-color: #00172a;
}

/*contacto*/
label {
  color: whitesmoke;
  font-weight: bold;
}

#drcontacto {
  width: 100vh;
}

.btn-primary {
  background-color: #00162f;
  border-color: tomato;
}

.btn-primary:hover {
  background-color: tomato;
  border: transparent;
}

/*articulos*/
* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

img {
  width: inherit;
}

/*animacion parrafos*/
.artic__cuadro {
  position: relative;
  width: calc(100%-30px);
}

.artic__cuadro__img {
  display: block;
  width: 100%;
  height: auto;
}

.artic__texto {
  position: absolute;
  bottom: 0;
  background-color: black;
  overflow: hidden;
  width: 95.7%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.artic__cuadro:hover .artic__texto {
  height: 100%;
}

.artic__parrafo {
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 2vw;
}

/*rock/a/tlon*/
.rockA a, .rockB a {
  border-radius: 10px !important;
  margin: 1vh;
  padding: 1vh;
  text-align: center;
}

.rockB {
  justify-items: center;
}

.list-group-item-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.rock1, .rock2 {
  text-align: -webkit-center;
}

.list-group-item-danger {
  background-color: #2f4538;
  color: whitesmoke;
}

.list-group-item-danger.list-group-item-action:hover {
  color: forestgreen !important;
  background-color: #2f4538 !important;
}

.lista__reproduccion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.disco__container {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 166vh;
  overflow: hidden;
}

.disco__container__disco2 {
  width: 100vw;
  position: absolute;
  height: 83vh;
}

.disco__container__disco1 {
  width: 100vw;
  position: absolute;
  top: 83vh;
}

.disco__container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.division__archivo {
  background-image: none;
  background-color: dimgray;
  height: 0.7vh !important;
}

.rock__parrafo {
  background-color: rgba(0, 0, 0, 0.568);
  padding: 0.3em;
  margin-bottom: 0 !important;
}

@media only screen and (min-width: 1200px) {
  .artic {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 1200px) {
  .video__container video {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .fotosNuestras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foto {
    place-self: center;
  }
  h4 {
    font-size: 1em;
  }
  .contenedorA, .contenedorB, .contenedorC, .contenedorD {
    width: 40vw;
  }
  #drcontacto {
    width: 90vh;
  }
  .video__container video {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .redes {
    margin-top: 5px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .spoti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #drcontacto {
    width: inherit;
  }
  iframe {
    width: 100%;
  }
  .nosotres__foto {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foto {
    width: 40vw;
  }
  .texto {
    font-size: 14px;
  }
  .recuadro {
    top: 55%;
  }
  .articulo__parrafo {
    font-size: 1vh;
  }
  .video__container video {
    display: none;
  }
  .parrafoN {
    font-size: 4vw;
  }
}
