@import "../scss/partials/variables.scss";
@import "../scss/partials/nosotres.scss";
@import "./partials/index.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/contacto.scss";
@import "./partials/articulos.scss";
@import "./partials/rock-a-tlon.scss";


@media only screen and (min-width: 1200px){
    .artic {
        flex-wrap: nowrap;

    }
       
}
@media only screen and (max-width: 1200px)
{
.video__container video {
    display: none;
    }
}
@media only screen and (max-width: 992px) {
    .fotosNuestras {
        display: flex;
        justify-content: center;
    }
    .foto {
        place-self: center;
    }
    h4 {
        font-size: 1em;
    }
    h2, .parrafoN {
        padding: 5px;
    }
    .contenedorA, .contenedorB, .contenedorC, .contenedorD {
        width: 40vw;
    }
    #drcontacto {
        width: 90vh;
    }
    .video__container video {
        display: none;
        }
    .container__nosotres__img {
        display: none;
    }
    .artic__parrafo {
        font-size: 4vw;
    }
    .artic__texto {
        width: 96.7%;
    }
    .disco__container {
        display: none;
        }
        .rock__parrafo {
            background-color: unset;
        }
}


@media only screen and (max-width: 600px) {
        .logo__principal {
            width: 100vw;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .redes {
            margin-top: 5px;
            justify-content: space-evenly;
        }
        .spoti {
           display: flex;
           flex-direction: column;
        }
        #drcontacto {
            width: inherit;
        }
       iframe {width: 100%;}
       .nosotres__foto {
           text-align: center;
           flex-direction: column;
       }
       .foto {
           width: 40vw;
       }
       .texto {
           font-size: 14px;
           
       } 
       .recuadro {
        top: 55%;
       }
       .artic__parrafo {
           font-size: 5.5vw;
       }
       
       .disco__container {
        display: none;
        }
        .rock__parrafo {
            background-color: unset;
        }
        .parrafoN {
            font-size: 4vw;
        }

}
