/*rock/a/tlon*/
.rockA a, .rockB a {
    border-radius: 10px !important;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    ;
}

.rockB {
    justify-items: center;
}
.list-group-item-action {
    width: fit-content;
} 
.rock1, .rock2 {
    text-align: -webkit-center;
}

.list-group-item-danger {
    background-color: rgb(47, 69, 56);
    color: whitesmoke;
}
.list-group-item-danger.list-group-item-action:hover {
    color: forestgreen !important;
    background-color: rgb(47, 69, 56)!important;
}

.lista__reproduccion {
    align-self: center;
}

.video__container {
    position: absolute;
    z-index: -100;
    width: 100vw;
    height: 82vh;
    overflow: hidden; 
    ;
}
.video__container video {
    position: absolute;
    width: 95vw;
    left: 2vw;

}
