/*articulos*/
h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

img {
  width: inherit;
}

/*animacion parrafos*/
.artic__cuadro {
  position: relative;
  width: calc(100%-30px);
}

.artic__cuadro__img {
  display: block;
  width: 100%;
  height: auto;
}

.artic__texto {
  position: absolute;
  bottom: 0;
  background-color: black;
  overflow: hidden;
  width: 95.7%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.artic__cuadro:hover .artic__texto {
  height: 100%;
}

.artic__parrafo {
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 2vw;
}
