/*articulos*/
* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

img {
  width: inherit;
}

/*animacion parrafos*/
.artic__cuadro {
  position: relative;
}

.artic__cuadro__img {
  display: block;
  width: 100%;
  height: auto;
}

.artic__texto {
  position: absolute;
  bottom: 0;
  background-color: black;
  overflow: hidden;
  width: 95.7%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.artic__cuadro:hover .artic__texto {
  height: 100%;
}

.artic__parrafo {
  color: whitesmoke;
  font-weight: bold;
  font-size: 2.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 2vw;
}
