
h1 {
    color: whitesmoke;
    font-weight: bold;
    top: 5vh;
    left: 2vw;
    width: auto;
}
h5 {
    color: #ff6347;
}

body {
   background-color: rgb(0, 23, 42);
}

.badge {
    background-color: red !important;
    font-weight: normal;
}