* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

.badge {
  background-color: red !important;
  font-weight: normal;
}

.logo__principal {
  width: 50vw;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 70%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
