/*nosotres*/
@import "./variables.scss";


span {
    color: tomato;
    
}


.contFoto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nuestra {color: whitesmoke;}

.parrafoN {-webkit-user-modify: read-write-plaintext-only;
font-size: $fuente/10;}

p {
    color: whitesmoke;
    font-size: $fuente/6;
}

/*efecto sobre el texto*/
.nosotres__fotos__animadas {
  position: relative;
}

.foto {
  width: $anchoFoto*3;
    border-radius: 100%;
    margin: 3vw;
    transition-delay: 2s;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.recuadro {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.nosotres__fotos__animadas:hover .foto {
  opacity: 0.3;
}

.nosotres__fotos__animadas:hover .recuadro {
  opacity: 1;
}

.texto {
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 10%;
}
.container__nosotres {
  align-self: center;
  &__img {
    width: 100%;
    opacity: 0.8;
  }
}