/*nosotres*/
* {
  font-family: 'Yantramanav', sans-serif !important;
}

h2 {
  color: tomato;
  font-weight: bold;
}

span {
  color: tomato;
}

h4 {
  color: whitesmoke;
  font-weight: bold;
}

.contFoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nuestra {
  color: whitesmoke;
}

.foto {
  width: 15vw;
  border-radius: 100%;
  margin: 3vw;
}

.parrafoN {
  -webkit-user-modify: read-write-plaintext-only;
  font-size: 3vh;
}

p {
  color: whitesmoke;
  font-size: 2.5vh;
}
