/*nosotres*/
* {
  font-family: 'Yantramanav', sans-serif !important;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
  top: 5vh;
  left: 2vw;
  width: auto;
}

h2 {
  color: tomato;
  font-weight: bold;
}

h3 {
  color: #00172a;
  background-color: tomato;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 4vh;
  color: tomato;
}

h5 {
  color: #ff6347;
}

body {
  background-color: #00172a;
}

span {
  color: tomato;
}

.foto {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.contFoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nuestra {
  color: whitesmoke;
}

.foto {
  width: 15vw;
  border-radius: 100%;
  margin: 3vw;
}

.parrafoN {
  -webkit-user-modify: read-write-plaintext-only;
  font-size: 1.7vw;
}

p {
  color: whitesmoke;
  font-size: 2.83333vw;
}

/*efecto sobre el texto*/
.nosotres__fotos__animadas {
  position: relative;
}

.foto {
  opacity: 1;
  display: block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.recuadro {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.nosotres__fotos__animadas:hover .foto {
  opacity: 0.3;
}

.nosotres__fotos__animadas:hover .recuadro {
  opacity: 1;
}

.texto {
  background-color: #00172a;
  color: whitesmoke;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 10%;
}

.container__nosotres {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container__nosotres__img {
  width: 100%;
  opacity: 0.8;
}
