/*rock/a/tlon*/
.rock1, .rock2 {
  text-align: -webkit-center;
}

.rockA a, .rockB a {
  border-radius: 10px !important;
  margin: 1vh;
  padding: 1vh;
  text-align: center;
}

.list-group-item-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-group-item-danger {
  background-color: #2f4538;
  color: whitesmoke;
}

.list-group-item-danger.list-group-item-action:hover {
  color: forestgreen !important;
  background-color: #2f4538 !important;
}

.lista__reproduccion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.disco__container {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 178vh;
  overflow: hidden;
}

.disco__container__disco2 {
  width: 100vw;
  position: absolute;
  height: 89vh;
}

.disco__container__disco1 {
  width: 100vw;
  position: absolute;
  top: 89vh;
}

.disco__container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.division__archivo {
  background-image: none;
  background-color: dimgray;
  height: 0.7vh !important;
}

.rock__parrafo {
  background-color: rgba(0, 0, 0, 0.568);
  padding: 0.3em;
  margin-bottom: 0 !important;
  font-size: 1rem;
  color: whitesmoke;
}
