* {
    font-family: 'Yantramanav', sans-serif !important;  
}

$color: tomato;
$fuente: 17vw;
$anchoFoto:5vw;
$altoFoto: 50vh;

h1 {
    color: whitesmoke;
    font-weight: bold;
    top: 5vh;
    left: 2vw;
    width: auto;
}

h2 {
    color: tomato;
    font-weight: bold;
    
}

h3 {
    color: rgb(0, 23, 42);
    background-color: tomato;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    font-size: 4vh;
    color: tomato;
}

h5 {
    color: #ff6347;
    }

body {
    background-color: rgb(0, 23, 42);
}
